.Gallery__img_item-order_1 {background-image: url(/html_dusko_bem_grid/style/img/t-shirt-female.jpg);}
.Gallery__img_item-order_2 {background-image: url(/html_dusko_bem_grid/style/img/t-shirt-male.jpg);}
.Gallery__img_item-order_3 {background-image: url(/html_dusko_bem_grid/style/img/t-shirt-female.jpg);}
.Gallery__img_item-order_4 {background-image: url(/html_dusko_bem_grid/style/img/t-shirt-male.jpg);}
.Gallery__img_item-order_5 {background-image: url(/html_dusko_bem_grid/style/img/t-shirt-female.jpg);}
.Gallery__img_item-order_6 {background-image: url(/html_dusko_bem_grid/style/img/t-shirt-male.jpg);}